
@model IEnumerable<BaoMoi.Models.bannerContact>

@foreach (var i in Model)
{
    
    
    <div class="col-md-4 py-3">
        <div class="row fh5co_contact_us_no_icon_difh5co_hover">
            <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                <div class="fh5co_contact_us_no_icon_div"> <span><i class="@i.detail"></i></span> </div>
            </div>
            <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                <span class="c_g d-block">@i.name</span>
                <span class="d-block c_g fh5co_contact_us_no_text"> @i.description</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
