@{ 
    ViewBag.Titile = "Most";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row mx-0">
    
    <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">

        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">@Model.name</div>
        </div>
        <div class="row pb-3">
            @Html.Action("getMost", "Default", new { id = Model.id });
        </div>

    </div>
</div>
