
@{
    ViewBag.Titile = "Trending";
    Layout = "~/Views/Shared/_MyLayout.cshtml";

        }
<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">

        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">@Model.name</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            @Html.Action("getTrending", "Default", new { id = Model.id});
        </div>


    </div>
</div>


