@model IEnumerable<BaoMoi.Models.footerdown1>

@foreach (var i in Model)
{
<div class="col-12 col-md-6 py-4 Reserved"> @i.name <a href="https://freehtml5.co" title="@i.title">@i.description</a>. </div>
}

