@model IEnumerable<BaoMoi.Models.icon>

@foreach (var i in Model)
{
    <div class="text-center d-inline-block">
        <a class="fh5co_display_table_footer">
            <div class="fh5co_verticle_middle"><i class="@i.img"></i></div>
        </a>
    </div>
   
}



