@model IEnumerable<BaoMoi.Models.menu>

<ul class="navbar-nav mr-auto">

    @foreach(var i in Model){
    <li class="nav-item active">
        <a class="nav-link" href="/@i.meta">@i.name <span class="sr-only">(current)</span></a>
    </li>
    }
    <!--
    <li class="nav-item ">
        <a class="nav-link" href="blog.html">Blog <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="single.html">Single <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">World<span class="sr-only">(current)</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
            <a class="dropdown-item" href="#">Action in</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Community<span class="sr-only">(current)</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
            <a class="dropdown-item" href="#">Action in</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="Contact_us.html">Contact <span class="sr-only">(current)</span></a>
    </li>
        -->
</ul>

